# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
build/
*.log
*.env
*.test.js
# *.config.js

# Backend
server/node_modules/
server/*.log
server/*.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env
