@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.shimmer {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right,
            #eeeeee 8%,
            #dddddd 18%,
            #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
}

.shimmer-card {
    width: 19rem;
    height: 30vh;
    /* Adjust height to match your card */
    border-radius: 10px;
    margin: 10px;
    background-color: #f6f7f8;
}